/* src/app/globals.css */
@import "tailwindcss";

@theme {
  /* 폰트 변수 */
  --font-noto-arabic: var(--font-noto-arabic);
  --font-inter: var(--font-inter);
  /* --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui;
  --font-mono: var(--font-geist-mono), ui-monospace, SFMono-Regular; */

  /* 핵심 컬러 설정 */
  --color-primary: #299BFF;
  --color-primary-dark: #1E86E5;
  --color-gray: #EDEDED;
  --color-gray2: #BFBFBF;
  --color-gray4: #FEFEFE;
}

:root {
  --background: #F8F8F8;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}